.example-card {
  width: 40%;
  height: 40%;
  margin: auto;
}

#error {
  color: red !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("/assets/icn.jpg");
  background-size: cover;
}

div {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
